
.header {
}

img.hero {
  width: 100%;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.centered {
  text-align: center;
}

.emoji-huge {
  font-size: 102px;
}

.cv-text {
  margin-top: -30px;
}

a.no-decor:hover, a.no-decor:active {
  text-decoration: none;
}
