
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 96px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 66px;
  background-color: #f5f5f5;
  margin-top: 30px;
  padding: 10px;
}

div#logos {
  text-align: right;
}

div#logos a img {
  max-height: 56px;
}

h2.featurette-heading {
    width: 100%;
}
h2.featurette-heading a.github {
    float: right;
}

.header {
}

img.hero {
  width: 100%;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.centered {
  text-align: center;
}

.emoji-huge {
  font-size: 102px;
}

.cv-text {
  margin-top: -30px;
}

a.no-decor:hover, a.no-decor:active {
  text-decoration: none;
}
